.container
{
    display: flex;
    justify-content:center;
    width:84%;

}
.container ::before{
    content: "\a";
    white-space: pre;
}
@media(max-width:770px)
  {
    .container
    {
      width:100%;
    }
  }